p {
    margin: 0;
    margin-bottom: .25em;
}

a {
    margin-inline: 1em;
}

h3 > a {
    margin: 0;
    color: black;
}

h3 > a:hover {
    color: rgb(65, 65, 65);
}

h3 {
    margin-bottom: .2em;
}